.sales-product-container {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sales-product-list {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  flex: 1 1 auto;
  height: 100%;
}

.sales-product-list thead th {
  position: sticky;
  top: 0;
  background-color: rgb(192, 255, 137); /* same as your header */
  z-index: 2;
  padding: 8px 10px;
}

.sales-product-list td {
  padding: 0;
  font-size: 0.95em;
  line-height: 1.2;
}

.sales-product-list th:nth-child(1),
.sales-product-list td:nth-child(1) {
  width: 15%; /* Adjust as needed for "Código" */
  min-width: 100px;
  max-width: 180px;
}

.sales-product-list th:nth-child(2),
.sales-product-list td:nth-child(2) {
  width: 45%; /* Adjust as needed for "Nombre" */
  min-width: 200px;
  max-width: 600px;
}

.sales-product-list th:nth-child(3),
.sales-product-list td:nth-child(3) {
  width: 15%; /* Adjust as needed for "Precio" */
  min-width: 100px;
  max-width: 180px;
}

.sales-product-list th:nth-child(4),
.sales-product-list td:nth-child(4) {
  width: 10%; /* Adjust as needed for "Unidades" */
  min-width: 100px;
  max-width: 180px;
}

.sales-product-list th:nth-child(5),
.sales-product-list td:nth-child(5) {
  width: 15%; /* Adjust as needed for "Subtotal" */
  min-width: 100px;
  max-width: 180px;
}

.product-sale-item > th, td {
  text-align: center;
  border: 1px solid rgb(160, 160, 160);
}

.product-list > tbody > tr:nth-of-type(even) {
  background-color: rgb(232, 255, 230);
}

.product-list tbody tr {
  height: fit-content;
}

.units-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 20px;
  gap: 5px;
}

.units-input {
  height: 13px;
  text-align: center;
  border: transparent;
  background-color: transparent;
  box-sizing: border-box;
  margin-top: 5px;
}

.units-icon {
  width: 20px;
  height: auto;
  color: #000;
}

/* Hide default arrows in Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.delete-button {
	cursor: pointer;
	color: red;
  width: 20px;
  height: 20px;
  padding: 5px;
}