.egressescreen-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.egress-actions-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date-filter-input {
  width: 300px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.date-filter-input > * {
  margin: 0 8px 0 0;
}

.add-egress-buton {
  width: 300px;
}

.egresses-list {
  width: 100%;
  margin-top: 16px;
}

.egresses-items th:nth-child(1),
.egresses-items td:nth-child(1) {
  width: 15%; /* Adjust as needed for "Fecha" */
  min-width: 100px;
  max-width: 180px;
}

.egresses-items th:nth-child(2),
.egresses-items td:nth-child(2) {
  width: 15%; /* Adjust as needed for "Monto" */
  min-width: 200px;
  max-width: 600px;
}

.egresses-items th:nth-child(3),
.egresses-items td:nth-child(3) {
  width: 15%; /* Adjust as needed for "Usuario que registro" */
  min-width: 100px;
  max-width: 180px;
}

.egresses-items th:nth-child(4),
.egresses-items td:nth-child(4) {
  width: 55%; /* Adjust as needed for "Descripcion" */
  min-width: 100px;
  max-width: 180px;
}

.pos-dialog {
  width: calc(50%);
  height: fit-content;
  border: none;
  box-shadow: 0px 1px 3px 0px #838282;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.close-dialog-button {
  cursor: pointer;
  color: red;
  width: 25px;
  height: 25px;
}

.filter-blur {
  filter: blur(8px);
  pointer-events: none; /* Optional: prevent interaction with blurred content */
  user-select: none;    /* Optional: prevent text selection */
}