.usersession-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 50px;
  padding: 0 8px 0 8px;
}

.user-name {
  font-size: 1.5em;
}

.logout-icon {
  color: red;
  cursor: pointer;
}